
      
<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/marsa2.png"/>
    </div>
    <mat-divider></mat-divider>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
        <mat-icon>home</mat-icon> Home
      </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout-demande">
        <mat-icon>add</mat-icon> Submit a request
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
        <mat-icon>list</mat-icon> Request list 
      </a>
      
  </mat-nav-list>
