.dialog-title {
    background-color: #9fbac4; /* Exemple de couleur de fond */
    color: white;              /* Couleur du texte */
    padding: 16px;             /* Espacement interne */
    border-radius: 4px;        /* Coins arrondis */
    text-align: center;        /* Centrer le texte */
    margin-bottom: 16px;       /* Espace sous le titre */
  }
  /* Exemple de styles pour le dialogue */
.mat-dialog-container {
    padding: 20px; /* Ajustez le padding si nécessaire */
    /* Vous pouvez ajouter d'autres styles comme la bordure, l'ombre, etc. */
  }
  