<div class="container">
    <div class="table-container">
      <div class="special-header">
        <span class="table-title">Liste des Demandes</span>
        <button mat-raised-button class="view-all-button" (click)="toggleViewAll()">
          {{ showAll ? 'View Less' : 'View All' }}
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" class="custom-table">
        <!-- Colonne Famille -->
        <ng-container matColumnDef="familleEngin">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Famille</th>
          <td mat-cell *matCellDef="let element" class="data-cell">{{element.familleEngin}}</td>
        </ng-container>
  
        <!-- Colonne Quantité -->
        <ng-container matColumnDef="quantite">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Quantité</th>
          <td mat-cell *matCellDef="let element" class="data-cell">{{element.quantite}}</td>
        </ng-container>
  
        <!-- Colonne Actions -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Action</th>
          <td mat-cell *matCellDef="let element" class="data-cell">
            <button mat-icon-button (click)="visualiserDemande(element)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>
      </table>
    </div>
  </div>
  